.categories-container {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: black;
}

.categories-container button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
