/* Dashboard.css */

html {
    /* overflow-x: hidden; */
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.expenses-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.expense-card {
    background-color: antiquewhite;
    color: black;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 1px 1px rgba(218, 218, 218, 0.1);
}

