.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

.login-container h1 {
  font-size: 2rem;
  color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
}

form input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: black;
}